h1{
    color: yellow;
}
#content{
    background-color: turquoise;
}
#pie{
    color: green;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: lightgrey;
    color: blue;
}